@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind theme;
@tailwind colors;
@layer base {
  html {
    @apply text-slate-800;
    @apply font-plainText;
    @apply scroll-smooth;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-headings;
  }
}
.is-active {
  background-color: theme("colors.gray.300");
}

html,
body {
  height: 100vh;
  scroll-behavior: smooth !important;
}

#root {
  display: flex;
  min-width: 0;
  height: 100%;
}
